<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5iSIclcLYfM5GssBDVPFUGMdSBuwS-bY
&libraries=places"></script>
</head>
<body>

</body>
</html>
<h1>Hello World</h1>


<form>
  First name:<br>
  <input type="text" name="firstname" id = "autocomplete" style="width: 40%"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form>


<!-- http://jsfiddle.net/doktormolle/aZrvs/ -->